<div class="container-box">

  <div class="form">

    <h2 class="form__title">Retiro Parcial por Desempleo</h2>


    <form action="/calcular/{{user.permiso}}" method="post" class="form__cotizar" name="formulario_cotizar">
      {{#if_equal user.permiso "Administrador"}}

      <div class="form__input">
        <div class="form__input-item">
          <label for="zona" class='label active'>Sucursal</label>
          <select name="zona">
            <option value=""></option>
            <option value="Campeche">Campeche</option>
            <option value="Campeche2">Campeche 2</option>
            <option value="Cancun">Cancun</option>
            <option value="Carmen">Carmen</option>
            <option value="Champoton">Champotón</option>
            <option value="Chetumal">Chetumal</option>
            <option value="Cozumel">Cozumel</option>
            <option value="Cuautitlan">Cuautitlán</option>
            <option value="Cuernavaca">Cuernavaca</option>
            <option value="Escarcega">Escarcega</option>
            <option value="Ixtapaluca">Ixtapaluca</option>
            <option value="Merida">Mérida</option>
            <option value="Palenque">Palenque</option>
            <option value="Playa del Carmen">Playa del Carmen</option>
            <option value="Tizimin">Tizimín</option>
            <option value="Valladolid">Valladolid</option>
            <option value="Villahermosa">Villahermosa</option>
          </select>
        </div>

        {{else}}
        <h4 class="mb-4">{{user.zona}}</h4>

        {{/if_equal}}

        <div class="form__input">

          <div class="form__input-item">
            <input type="number" id="cantidadRetiro" name="montoRetiro" autocomplete="off">
            <label for="montoRetiro" class="label">Cantidad a Retirar</label>
          </div>

          <button type="submit" class="btn btn-info btn-block" id="btnCalcular">Calcular</button>

        </div>

    </form>

  </div>

</div>

<!-- alertify -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- script calcular -->
<script src="/js/calcularCosto.js"></script>