{{!-- Formulario de inicio de sesión --}}

<div class="container-box">

  <div class="form">

    <h2 class="form__title">Iniciar Sesión</h2>

    <form action="/login" method="post" class="form__register" name="formulario_cliente">

      <div class="form__input">

        <div class="form__input-item">
          <input type="text" name="username">
          <label for="username" class='label'>Usuario</label>
        </div>

        <div class="form__input-item">
          <input type="password" name="password" id="pass">
          <label for="password" class='label'>Contraseña <i class="fa fa-eye" id="show"
              onclick="passHide()"></i></label>
        </div>

        <input class="btn btn-success btn-block" type="submit" name="btn-submit" id="form__btn-submit" value="Ingresar">

      </div>
    </form>
  </div>
</div>

<script src="/js/userLogin.js"></script>