<div class="container-form">

  <div class="wrap">

    <h2 class="form__title">Iniciar Sesión</h2>

    <form action="/login" method="post" class="form__register" name="formulario_cliente">

      <div class="form__input">

        <div class="form__input-item">
          <input type="text" name="username">
          <label for="username" class='label'>Usuario</label>
        </div>

        <div class="form__input-item">
          <input type="password" name="password">
          <label for="password" class='label'>Contraseña</label>
        </div>

        <input class="btn btn-success btn-block" type="submit" name="btn-submit" id="form__btn-submit" value="Ingresar">

      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>