<div class="container-form">

  <div class="wrap">

    <h2 class="form__title">Registro de usuario</h2>

    <form action="/register" method="post" class="form__register" name="formulario_cliente">

      <div class="form__input">

        <div class="form__input-item">
          <input type="text" name="fullname">
          <label for="fullname" class='label'>Nombre</label>
        </div>

        <div class="form__input-item">
          <input type="text" name="username">
          <label for="username" class='label'>Usuario</label>
        </div>

        <div class="form__input-item">
          <input type="password" name="password">
          <label for="password" class='label'>Contraseña</label>
        </div>

        <div class="form__input-item">
          <input type="password" name="password2">
          <label for="password2" class='label'>Confirmar Contraseña</label>
        </div>


        <div class="form__input-item">
          <input type="text" name="zona">
          <label for="zona" class='label'>Zona</label>

        </div>

        <input class="btn btn-success btn-block" type="submit" name="btn-submit" id="form__btn-submit"
          value="Registrar">
    </form>
  </div>
</div>

<script src="/js/login.js"></script>