<main class="container-box">


  <div class="index">
    <h2 class="text-center">
      I work on it, please give me a chance!
    </h2>

    <br>
    <h4><a href="/profile">Ir a perfil!</a></h4>
  </div>

</main>