<main class="index">

  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">
        Control trámites
      </h1>
      <h3 class="mb-5">
        <em>Registros de clientes</em>
      </h3>
      <a href="/login" class="btn primary">Comencemos!</a>
    </div>
  </header>

</main>