<main class="container-box">


  <div class="index">
    <h1>
      Bienvenido a
      <br>Gestoría Peninsular!
    </h1>
    <a href="/login" class="btn btn-success btn-block">Ir a perfil!</a>

  </div>
</main>