<div class="container p-4">
  <div class="row">
    <div class="col-md mx-auto">
      <div class="card text-center">
        <div class="card-body">
          <h3>Bievenido {{user.fullname}} </h3>
          <h4> {{user.username}} </h4>
          <a href="/links" class="btn btn-info m-4">Clientes</a>
        </div>
      </div>
    </div>
  </div>
</div>