@charset "UTF-8";
/*
#  ·················
#    _______________
#   /·___/·___/·___/
#  /·/__(__··|__··)
#  \___/____/____/
#  ·················
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("/img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #23273b;
  font-family: "Roboto", Arial;
}

body .container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* remove arrows de atibute step */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*Estilos navigation*/
.header {
  background-color: #f2f2f2;
  padding: 10px 10%;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.header .navbar a img {
  width: 90%;
  height: 90%;
}

.header hr {
  margin: 5px;
}

.content {
  padding-top: 9em;
}

/*Estilos main*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0.3%;
}

.main .container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 85%;
  min-height: calc(100vh - 400px);
  /*Estilos buscador*/
  /*Estilos index*/
}

.main .container-box h4 {
  color: #23273b;
  margin-bottom: 10px;
}

.main .container-box h5 {
  text-transform: lowercase;
}

.main .container-box h5::first-line {
  text-transform: capitalize;
}

.main .container-box h6 {
  font-weight: bold;
  margin-top: 5px;
}

.main .container-box p {
  color: #23273b;
}

.main .container-box textarea {
  margin-bottom: 2%;
}

.main .container-box .list-customers {
  width: 90%;
}

.main .container-box .list-customers .wrapper {
  background: #ffffff;
  border: 1px solid #797979;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
}

.main .container-box .list-customers .wrapper .list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container-box .list-customers .wrapper .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .container-box .list-customers .wrapper .btn-list a {
  font-size: 12px;
  padding: 0;
  width: 100px;
  margin: 5px;
}

.main .container-box .list-customers .wrapper .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  background: #ffffff;
  border-top: 1px solid #797979;
  padding-top: 10px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .container-box .list-customers .wrapper .customer .grid-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container-box .list-customers .wrapper .customer .grid-list h6 {
  font-size: 12px;
  margin-bottom: 0;
}

.main .container-box .list-customers .wrapper .customer .grid-list p {
  text-align: start;
  margin-bottom: 0;
  font-size: 12px;
  justify-self: baseline;
}

.main .container-box .list-customers .wrapper .customer .grid-list a {
  padding: 0;
  width: 75%;
  margin: 5px;
  font-size: 12px;
}

.main .container-box .list-customers .wrapper .customer .grid-list a:nth-child(29) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.main .container-box .list-customers .wrapper .customer .grid-list a:nth-child(30) {
  -ms-grid-column-align: center;
      justify-self: center;
}

.main .container-box .list-customers .wrapper .customer .grid-liquidacion {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container-box .list-customers .wrapper .customer .grid-liquidacion h6 {
  font-size: 12px;
  margin-bottom: 0;
}

.main .container-box .list-customers .wrapper .customer .grid-liquidacion p {
  text-align: start;
  margin-bottom: 0;
  font-size: 12px;
  justify-self: baseline;
}

.main .container-box .list-customers .wrapper .customer .grid-liquidacion a {
  padding: 0;
  width: 75%;
  margin: 5px;
  font-size: 12px;
}

.main .container-box .list-customers .wrapper .customer .grid-liquidacion a:nth-child(29) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.main .container-box .list-customers .wrapper .customer .grid-liquidacion a:nth-child(30) {
  -ms-grid-column-align: center;
      justify-self: center;
}

.main .container-box .form__edit {
  width: 100%;
  margin: auto;
}

.main .container-box .form__edit h6 {
  font-weight: bold;
}

.main .container-box .form__edit p {
  color: #23273b;
}

.main .container-box .form__edit textarea {
  margin-bottom: 4%;
  width: 100%;
}

.main .container-box .form__edit .form__input .form__input-item {
  position: relative;
  margin-bottom: 24px;
  padding: 0 1em;
}

.main .container-box .form__edit .form__input .form__input-item select {
  margin-top: 3px;
}

.main .container-box .form__edit .form__input .form__input-item select,
.main .container-box .form__edit .form__input .form__input-item input[type="date"] {
  padding-right: 20px;
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #23273b;
  width: 75%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #0071b8;
}

.main .container-box .form__edit .form__input .form__input-item label.active {
  position: absolute;
  line-height: 16px;
  margin-left: 16px;
  top: -16px;
  left: 0;
  font-size: 12px;
  line-height: 12px;
}

.main .container-box .grid__edit {
  display: -ms-grid;
  display: grid;
}

.main .container-box .grid-altas {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-bottom: 10px;
}

.main .container-box .form__add-customer {
  width: 100%;
  margin: auto;
}

.main .container-box .form__add-customer h6 {
  color: #23273b;
  font-size: 14px;
}

.main .container-box .form__add-customer .form__input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.main .container-box .form__add-customer .form__input .form__input-item {
  position: relative;
  margin-bottom: 24px;
  padding: 0 1em;
}

.main .container-box .form__add-customer .form__input .form__input-item select {
  margin-top: 3px;
  margin-right: 4.5rem;
}

.main .container-box .form__add-customer .form__input .form__input-item select,
.main .container-box .form__add-customer .form__input .form__input-item input[type="text"],
.main .container-box .form__add-customer .form__input .form__input-item [type="tel"],
.main .container-box .form__add-customer .form__input .form__input-item [type="number"],
.main .container-box .form__add-customer .form__input .form__input-item [type="date"] {
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #23273b;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #0071b8;
}

.main .container-box .form__add-customer .form__input .form__input-item select:focus, .main .container-box .form__add-customer .form__input .form__input-item select:active,
.main .container-box .form__add-customer .form__input .form__input-item input[type="text"]:focus,
.main .container-box .form__add-customer .form__input .form__input-item input[type="text"]:active,
.main .container-box .form__add-customer .form__input .form__input-item [type="tel"]:focus,
.main .container-box .form__add-customer .form__input .form__input-item [type="tel"]:active,
.main .container-box .form__add-customer .form__input .form__input-item [type="number"]:focus,
.main .container-box .form__add-customer .form__input .form__input-item [type="number"]:active,
.main .container-box .form__add-customer .form__input .form__input-item [type="date"]:focus,
.main .container-box .form__add-customer .form__input .form__input-item [type="date"]:active {
  outline: none;
  border-bottom: 2px solid #23273b;
}

.main .container-box .form__add-customer .form__input .form__input-item select.error,
.main .container-box .form__add-customer .form__input .form__input-item input[type="text"].error,
.main .container-box .form__add-customer .form__input .form__input-item [type="tel"].error,
.main .container-box .form__add-customer .form__input .form__input-item [type="number"].error,
.main .container-box .form__add-customer .form__input .form__input-item [type="date"].error {
  outline: none;
  border-bottom: 2px solid #d32f2f;
}

.main .container-box .form__add-customer .form__input .form__input-item select.error + label,
.main .container-box .form__add-customer .form__input .form__input-item input[type="text"].error + label,
.main .container-box .form__add-customer .form__input .form__input-item [type="tel"].error + label,
.main .container-box .form__add-customer .form__input .form__input-item [type="number"].error + label,
.main .container-box .form__add-customer .form__input .form__input-item [type="date"].error + label {
  color: #d32f2f;
}

.main .container-box .form__add-customer .form__input .form__input-item i {
  font-size: 0.8em;
}

.main .container-box .form__add-customer .form__input .form__input-item label {
  color: #23273b;
}

.main .container-box .form__add-customer .form__input .form__input-item label.label {
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 16px;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container-box .form__add-customer .form__input .form__input-item label.active {
  top: -16px;
  font-size: 12px;
  line-height: 12px;
}

.main .container-box .form__add-customer .form__input .form__input-item p {
  margin-bottom: 0;
}

.main .container-box .form__add-customer .form__input .form__input-item.radio label {
  display: inline-block;
  cursor: pointer;
  color: #23273b;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container-box .form__add-customer .form__input .form__input-item.radio label:hover {
  background: #23273b;
  color: white;
}

.main .container-box .form__add-customer .form__input .form__input-item.radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 25px;
  top: 7px;
  border-radius: 50%;
  background: none;
  border: 2px solid #23273b;
}

.main .container-box .form__add-customer .form__input .form__input-item.error label {
  color: #d32f2f;
}

.main .container-box .form__add-customer .form__input .form__input-item.error label:hover {
  background: #d32f2f;
}

.main .container-box .form__add-customer .form__input .form__input-item.error label:before {
  border: 2px solid #d32f2f;
}

.main .container-box .form__add-customer .form__input .form__input-item.radio input[type="radio"] {
  display: none;
}

.main .container-box .form__add-customer .form__input .form__input-item.radio input[type="radio"]:checked + label:before {
  display: none;
}

.main .container-box .form__add-customer .form__input .form__input-item.radio input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #23273b;
  border-radius: 2px;
  color: white;
}

.main .container-box .form__add-customer .form__input .form__input-semanas,
.main .container-box .form__add-customer .form__input .form__input-afore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .container-box .form__add-customer .form__input .form__input-asesor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .container-box .form__add-customer .form__input .form__input-asesor .form__input-item:nth-child(2) {
  margin-top: 23px;
}

.main .container-box .buttonFloat {
  font-size: 14px;
  /* Cambiar el tamaño de la tipografia */
  border-radius: 5px;
  /* Borde del boton */
  position: fixed;
  -webkit-transition: all 300ms ease 0ms;
  transition: all 300ms ease 0ms;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.main .container-box .buttonFloat a {
  color: #ffffff;
  /* Color del texto */
}

.main .container-box .tarjeta {
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #797979;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
}

.main .container-box .tarjeta .resume-title {
  text-align: center;
}

.main .container-box .tarjeta .resume-status {
  text-align: center;
}

.main .container-box .tarjeta .grid {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #23273b;
  letter-spacing: 1px;
}

.main .container-box .tarjeta .grid .tarjeta-status {
  border: 2px solid #138496;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 95%;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.main .container-box .tarjeta .grid .tarjeta-status a {
  text-decoration: none;
  cursor: pointer;
  color: #23273b;
}

.main .container-box .tarjeta .grid .tarjeta-status:hover {
  background: #138496;
}

.main .container-box .tarjeta .grid .tarjeta-status:hover a {
  color: white;
}

.main .container-box .tarjeta .grid .tarjeta-status:hover a h6 {
  font-weight: 400;
}

.main .container-box .tarjeta .grid .tarjeta-status:hover a p {
  color: white;
}

.main .container-box .tarjeta .grid .tarjeta-fecha {
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 95%;
  height: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.main .container-box .tarjeta .grid .tarjeta-fecha a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.main .container-box .tarjeta .grid .tarjeta-fecha a h6 {
  font-weight: 400;
}

.main .container-box .tarjeta .grid .tarjeta-fecha a p {
  color: white;
  margin-bottom: 1.5rem;
}

.main .container-box .tarjeta .grid .tarjeta-fecha:hover a {
  color: #23273b;
}

.main .container-box .tarjeta .grid .tarjeta-fecha:hover a h6 {
  font-weight: bold;
}

.main .container-box .tarjeta .grid .tarjeta-fecha:hover a p {
  color: #23273b;
}

.main .container-box .tarjeta .grid .week {
  background: #138496;
}

.main .container-box .tarjeta .grid .week:hover {
  background: none;
  border: 2px solid #138496;
}

.main .container-box .tarjeta .grid .thirty-days {
  background: #dac41c;
}

.main .container-box .tarjeta .grid .thirty-days:hover {
  background: none;
  border: 2px solid #dac41c;
}

.main .container-box .tarjeta .grid .sixty-days {
  background: #e36d24;
}

.main .container-box .tarjeta .grid .sixty-days:hover {
  background: none;
  border: 2px solid #e36d24;
}

.main .container-box .tarjeta .grid .more-days {
  background: #cd0000;
}

.main .container-box .tarjeta .grid .more-days:hover {
  background: none;
  border: 2px solid #cd0000;
}

.main .container-box .btn-edit {
  margin-left: 10px;
}

.main .container-box .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .container-box .btn-order {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.main .container-box .btn-order .btn-space {
  margin: 5px;
}

.main .container-box .card_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container-box .card_title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  text-decoration: none;
}

.main .container-box .card_title a i {
  font-size: 25px;
}

.main .container-box .search {
  width: 80%;
}

.main .container-box .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main .container-box .search input {
  margin: 1%;
}

.main .container-box .index {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #ffffff;
  border-radius: 20px;
  margin: 5px;
  padding: 25px;
  width: 90%;
  max-width: 450px;
  min-height: 300px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #23273b;
}

.main .container-box .index h1 {
  text-align: center;
  margin-bottom: 20%;
  font-size: 24px;
}

.main .container-box .index table {
  text-align: center;
  width: 100%;
}

.main .container-box .index table th,
.main .container-box .index table td {
  width: 10%;
}

.main .container-box .form {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  margin: 20px;
  padding: 25px;
  width: 90%;
  max-width: 480px;
  min-height: 300px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .container-box .form h2 {
  color: #23273b;
  font-family: "Roboto", Arial;
  margin-bottom: 1.5em;
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
}

.main .container-box .form .form__register {
  width: 100%;
  margin: auto;
}

.main .container-box .form .form__register .form__input .form__input-item {
  position: relative;
  margin-bottom: 24px;
  padding: 0 1em;
}

.main .container-box .form .form__register .form__input .form__input-item p {
  margin-left: 8rem;
}

.main .container-box .form .form__register .form__input .form__input-item select {
  margin-top: 3px;
}

.main .container-box .form .form__register .form__input .form__input-item select,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"],
.main .container-box .form .form__register .form__input .form__input-item [type="tel"],
.main .container-box .form .form__register .form__input .form__input-item [type="password"],
.main .container-box .form .form__register .form__input .form__input-item [type="number"] {
  padding-right: 20px;
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #23273b;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #0071b8;
}

.main .container-box .form .form__register .form__input .form__input-item select:focus, .main .container-box .form .form__register .form__input .form__input-item select:active,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"]:focus,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"]:active,
.main .container-box .form .form__register .form__input .form__input-item [type="tel"]:focus,
.main .container-box .form .form__register .form__input .form__input-item [type="tel"]:active,
.main .container-box .form .form__register .form__input .form__input-item [type="password"]:focus,
.main .container-box .form .form__register .form__input .form__input-item [type="password"]:active,
.main .container-box .form .form__register .form__input .form__input-item [type="number"]:focus,
.main .container-box .form .form__register .form__input .form__input-item [type="number"]:active {
  outline: none;
  border-bottom: 2px solid #23273b;
}

.main .container-box .form .form__register .form__input .form__input-item select.error,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"].error,
.main .container-box .form .form__register .form__input .form__input-item [type="tel"].error,
.main .container-box .form .form__register .form__input .form__input-item [type="password"].error,
.main .container-box .form .form__register .form__input .form__input-item [type="number"].error {
  outline: none;
  border-bottom: 2px solid #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item select.error + label,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"].error + label,
.main .container-box .form .form__register .form__input .form__input-item [type="tel"].error + label,
.main .container-box .form .form__register .form__input .form__input-item [type="password"].error + label,
.main .container-box .form .form__register .form__input .form__input-item [type="number"].error + label {
  color: #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item i {
  font-size: 0.8em;
}

.main .container-box .form .form__register .form__input .form__input-item label {
  color: #23273b;
}

.main .container-box .form .form__register .form__input .form__input-item label.label {
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 16px;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container-box .form .form__register .form__input .form__input-item label.active {
  top: -16px;
  font-size: 12px;
  line-height: 12px;
}

.main .container-box .form .form__register .form__input .form__input-item.radio label {
  display: inline-block;
  cursor: pointer;
  color: #23273b;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container-box .form .form__register .form__input .form__input-item.radio label:hover {
  background: #23273b;
  color: white;
}

.main .container-box .form .form__register .form__input .form__input-item.radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 25px;
  top: 7px;
  border-radius: 50%;
  background: none;
  border: 2px solid #23273b;
}

.main .container-box .form .form__register .form__input .form__input-item.error label {
  color: #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item.error label:hover {
  background: #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item.error label:before {
  border: 2px solid #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item.radio input[type="radio"] {
  display: none;
}

.main .container-box .form .form__register .form__input .form__input-item.radio input[type="radio"]:checked + label:before {
  display: none;
}

.main .container-box .form .form__register .form__input .form__input-item.radio input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #23273b;
  border-radius: 2px;
  color: white;
}

.main .container-box .form .form__register .form__input .form__input-semanas,
.main .container-box .form .form__register .form__input .form__input-afore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .container-box .form .form__register .form__input .form__input-semanas #scotizadas,
.main .container-box .form .form__register .form__input .form__input-semanas #sdescontadas,
.main .container-box .form .form__register .form__input .form__input-semanas #monto,
.main .container-box .form .form__register .form__input .form__input-afore #scotizadas,
.main .container-box .form .form__register .form__input .form__input-afore #sdescontadas,
.main .container-box .form .form__register .form__input .form__input-afore #monto {
  text-align: center;
}

.main .container-box .form .form__register .form__input .form__input-semanas #monto,
.main .container-box .form .form__register .form__input .form__input-semanas #sdescontadas,
.main .container-box .form .form__register .form__input .form__input-afore #monto,
.main .container-box .form .form__register .form__input .form__input-afore #sdescontadas {
  margin-left: 2px;
}

.main .container-box .form .form__register .form__input p {
  color: #23273b;
  margin-left: 16px;
}

.main .container-box .form .form__cotizar {
  width: 100%;
  margin: auto;
}

.main .container-box .form .form__cotizar .form__input .form__input-item {
  position: relative;
  margin-bottom: 24px;
}

.main .container-box .form .form__cotizar .form__input .form__input-item input[type="number"] {
  padding-right: 20px;
  padding-top: 12px;
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #23273b;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #0071b8;
  text-align: center;
}

.main .container-box .form .form__cotizar .form__input .form__input-item input[type="number"]:focus, .main .container-box .form .form__cotizar .form__input .form__input-item input[type="number"]:active {
  outline: none;
  border-bottom: 2px solid #23273b;
}

.main .container-box .form .form__cotizar .form__input .form__input-item label {
  color: #23273b;
}

.main .container-box .form .form__cotizar .form__input .form__input-item label.label {
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 16px;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container-box .form .form__cotizar .form__input .form__input-item label.active {
  top: -16px;
  font-size: 12px;
  line-height: 12px;
}

/*Footer*/
.footer {
  background-color: rgba(35, 39, 59, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 15%;
  min-height: 30px;
  width: 100%;
  font-size: 12px;
  margin-top: 0.5em;
}

.footer a {
  color: #f2f2f2;
  cursor: pointer;
  text-align: center;
  padding-left: 30px;
}

.footer a :hover {
  text-decoration: underline;
}

/*Responsive design*/
@media (max-width: 2652px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 130px 1fr 130px 1fr 130px 110px;
        grid-template-columns: 130px 1fr 130px 1fr 130px 110px;
  }
  .grid-liquidacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 1fr 1fr 1fr;
        grid-template-columns: 100px 1fr 1fr 1fr;
  }
  .grid__edit {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .grid-altas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .buttonFloat {
    bottom: 7%;
    right: 15%;
  }
}

@media (max-width: 1200px) {
  .buttonFloat {
    bottom: 7%;
    right: 11%;
  }
}

@media (max-width: 1024px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-liquidacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .grid-altas {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .buttonFloat {
    bottom: 6%;
    right: 9%;
  }
}

@media (max-width: 720px) {
  .buttonFloat {
    bottom: 4%;
    right: 2%;
  }
  .form__input-semanas,
  .form__input-afore,
  .form__input-asesor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-altas {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 530px) {
  .content {
    padding-top: 8em;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: 20px;
  }
  .navbar-brand {
    width: 70%;
  }
  .buttonFloat {
    bottom: 2%;
    right: 7%;
  }
  .grid-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .grid-liquidacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .content {
    padding-top: 7.5em;
  }
}

@media (max-width: 402px) {
  .content {
    padding-top: 7.2em;
  }
  .form__edit p {
    text-align: end;
  }
  .grid__edit {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .buttonFloat {
    bottom: 2%;
    right: 2%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 340px) {
  .navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar-brand {
    width: 100%;
  }
}

@media print {
  .footer {
    display: none;
  }
  body {
    background: none;
  }
  .list-customers {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}
/*# sourceMappingURL=styles.css.map */