@charset "UTF-8";
/*
#  ·················
#    _______________
#   /·___/·___/·___/
#  /·/__(__··|__··)
#  \___/____/____/
#  ·················
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("/img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #23273b;
  font-family: "Roboto", Arial;
}

body .container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*Estilos navigation*/
.header {
  background-color: #f2f2f2;
  padding: 10px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 12px solid #f2f2f2;
}

.header hr {
  margin: 5px;
}

.header__nav {
  position: relative;
}

/*Estilos main*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0.3%;
  /*Estilos formulario*/
}

.main .container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 75%;
  min-height: calc(100vh - 200px);
  /*Estilos buscador*/
  /*Estilos index*/
}

.main .container-box .form {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  margin: 2px;
  padding: 25px;
  width: 90%;
  max-width: 450px;
  min-height: 300px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .container-box .form h2 {
  color: #23273b;
  font-family: "Roboto", Arial;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.main .container-box .form .form__cotizar {
  width: 100%;
  margin: auto;
}

.main .container-box .form .form__cotizar .form__input .form__input-item {
  position: relative;
  margin-bottom: 32px;
}

.main .container-box .form .form__cotizar .form__input .form__input-item input[type="number"] {
  padding-right: 20px;
  padding-top: 12px;
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #23273b;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #0071b8;
  text-align: center;
}

.main .container-box .form .form__cotizar .form__input .form__input-item input[type="number"]:focus, .main .container-box .form .form__cotizar .form__input .form__input-item input[type="number"]:active {
  outline: none;
  border-bottom: 2px solid #23273b;
}

.main .container-box .form .form__cotizar .form__input .form__input-item label {
  color: #23273b;
}

.main .container-box .form .form__cotizar .form__input .form__input-item label.label {
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 16px;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container-box .form .form__cotizar .form__input .form__input-item label.active {
  top: -16px;
  font-size: 12px;
  line-height: 12px;
}

.main .container-box .form .form__register {
  width: 100%;
  margin: auto;
}

.main .container-box .form .form__register .form__input .form__input-semanas,
.main .container-box .form .form__register .form__input .form__input-afore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .container-box .form .form__register .form__input .form__input-semanas #scotizadas,
.main .container-box .form .form__register .form__input .form__input-semanas #sdescontadas,
.main .container-box .form .form__register .form__input .form__input-semanas #monto,
.main .container-box .form .form__register .form__input .form__input-afore #scotizadas,
.main .container-box .form .form__register .form__input .form__input-afore #sdescontadas,
.main .container-box .form .form__register .form__input .form__input-afore #monto {
  text-align: center;
}

.main .container-box .form .form__register .form__input .form__input-semanas #monto,
.main .container-box .form .form__register .form__input .form__input-semanas #sdescontadas,
.main .container-box .form .form__register .form__input .form__input-afore #monto,
.main .container-box .form .form__register .form__input .form__input-afore #sdescontadas {
  margin-left: 2px;
}

.main .container-box .form .form__register .form__input .form___input-porcent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .container-box .form .form__register .form__input p {
  color: #23273b;
  margin-left: 16px;
}

.main .container-box .form .form__register .form__input .form__input-item {
  position: relative;
  margin-bottom: 32px;
}

.main .container-box .form .form__register .form__input .form__input-item #honorarios {
  text-align: center;
}

.main .container-box .form .form__register .form__input .form__input-item select {
  margin-top: 3px;
}

.main .container-box .form .form__register .form__input .form__input-item select,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"],
.main .container-box .form .form__register .form__input .form__input-item [type="tel"],
.main .container-box .form .form__register .form__input .form__input-item [type="password"] {
  padding-right: 20px;
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #23273b;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #0071b8;
}

.main .container-box .form .form__register .form__input .form__input-item select:focus, .main .container-box .form .form__register .form__input .form__input-item select:active,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"]:focus,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"]:active,
.main .container-box .form .form__register .form__input .form__input-item [type="tel"]:focus,
.main .container-box .form .form__register .form__input .form__input-item [type="tel"]:active,
.main .container-box .form .form__register .form__input .form__input-item [type="password"]:focus,
.main .container-box .form .form__register .form__input .form__input-item [type="password"]:active {
  outline: none;
  border-bottom: 2px solid #23273b;
}

.main .container-box .form .form__register .form__input .form__input-item select.error,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"].error,
.main .container-box .form .form__register .form__input .form__input-item [type="tel"].error,
.main .container-box .form .form__register .form__input .form__input-item [type="password"].error {
  outline: none;
  border-bottom: 2px solid #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item select.error + label,
.main .container-box .form .form__register .form__input .form__input-item input[type="text"].error + label,
.main .container-box .form .form__register .form__input .form__input-item [type="tel"].error + label,
.main .container-box .form .form__register .form__input .form__input-item [type="password"].error + label {
  color: #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item i {
  font-size: 0.8em;
}

.main .container-box .form .form__register .form__input .form__input-item label {
  color: #23273b;
}

.main .container-box .form .form__register .form__input .form__input-item label.label {
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 16px;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container-box .form .form__register .form__input .form__input-item label.active {
  top: -16px;
  font-size: 12px;
  line-height: 12px;
}

.main .container-box .form .form__register .form__input .form__input-item.radio label {
  display: inline-block;
  cursor: pointer;
  color: #23273b;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container-box .form .form__register .form__input .form__input-item.radio label:hover {
  background: #23273b;
  color: white;
}

.main .container-box .form .form__register .form__input .form__input-item.radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 25px;
  top: 7px;
  border-radius: 50%;
  background: none;
  border: 2px solid #23273b;
}

.main .container-box .form .form__register .form__input .form__input-item.error label {
  color: #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item.error label:hover {
  background: #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item.error label:before {
  border: 2px solid #d32f2f;
}

.main .container-box .form .form__register .form__input .form__input-item.radio input[type="radio"] {
  display: none;
}

.main .container-box .form .form__register .form__input .form__input-item.radio input[type="radio"]:checked + label:before {
  display: none;
}

.main .container-box .form .form__register .form__input .form__input-item.radio input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #23273b;
  border-radius: 2px;
  color: white;
}

.main .container-box .search {
  width: 80%;
}

.main .container-box .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main .container-box .search input {
  margin: 1%;
}

.main .container-box .index {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #ffffff;
  border-radius: 20px;
  margin: 2px;
  padding: 25px;
  width: 90%;
  max-width: 450px;
  min-height: 300px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #23273b;
}

.main .container-box .index h1 {
  text-align: center;
  margin-bottom: 20%;
  font-size: 24px;
}

.main .container-box .index table {
  text-align: center;
  width: 100%;
}

.main .container-box .index table th,
.main .container-box .index table td {
  width: 10%;
}

/*Footer*/
.footer {
  background-color: rgba(35, 39, 59, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 15%;
  min-height: 30px;
  width: 100%;
  font-size: 12px;
  margin-top: 0.5em;
}

.footer a {
  color: #f2f2f2;
  cursor: pointer;
  padding-left: 30px;
}

.footer a :hover {
  text-decoration: underline;
}

/*Responsive design*/
@media (max-width: 700px) {
  .header__logo .header__logo--btnDesktop {
    display: none;
  }
  .header__logo .header__logo--btnMobile {
    display: block;
  }
  .header__nav {
    position: initial;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #23273b;
    height: 100%;
    padding: 30px;
    opacity: 0.9;
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
    z-index: 3;
    width: 85%;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    font-size: 24px;
  }
  .nav .nav__main p {
    margin: 0 40px 0 0;
    cursor: pointer;
    color: #f2f2f2;
  }
  .nav .nav__main .nav__menu li {
    padding: 10px;
  }
  .nav .nav__main .nav__menu li a {
    color: #f2f2f2;
  }
  .nav .nav__main:hover p {
    border-bottom: 2px solid #f2f2f2;
  }
  .nav .nav__main:hover .nav__menu :hover a {
    border-bottom: 2px solid #f2f2f2;
  }
  .nav.show {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@media (max-width: 360px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */