/*
#  ·················
#    _______________
#   /·___/·___/·___/
#  /·/__(__··|__··)
#  \___/____/____/
#  ·················
*/

//Variables

$color-primary: #23273b;
$color-light-primary: #0071b8;
$color-white: #f2f2f2;
$color-divider: #b7d1df;
$color-red: #d32f2f;

$borde: 2px;
$font-family: "Roboto", Arial;
$test: 2px solid red;

//basic estilos

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $color-primary;

  font-family: "Roboto", Arial;

  .container-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 1px solid green;
  -webkit-text-fill-color: black;
  // -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*Estilos navigation*/
.header {
  background-color: $color-white;
  padding: 10px 10%;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // justify-content: center;
  // border: 12px solid $color-white;

  // width: 100%;
  // position: fixed;
  // z-index: 99;

  .navbar {
    a {
      img {
        width: 90%;
        height: 90%;
      }
    }
  }

  hr {
    margin: 5px;
  }
}

// .header__nav {
//   position: relative;
// }

/*Estilos main*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
  flex: 1 0 auto;
  padding: 0.3%;

  // padding-top: 30%;

  /*Estilos formulario*/
  .container-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 85%;
    min-height: calc(100vh - 400px);

    h6 {
      font-weight: bold;
    }

    p {
      text-align: end;
    }

    .form {
      background: rgba(255, 255, 255, 0.9);
      border: 2px solid #ffffff;
      border-radius: 20px;
      color: #ffffff;
      // padding: 60px 68px 40px;
      margin: 5%;
      padding: 25px;
      width: 90%;
      max-width: 450px;
      min-height: 300px;
      font-size: 14px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      h2 {
        color: $color-primary;
        font-family: $font-family;
        margin-bottom: 1.5em;
        font-size: 1.5em;
        text-align: center;
        font-weight: 500;
      }

      .form__cotizar {
        width: 100%;
        margin: auto;

        .form__input {
          .form__input-item {
            position: relative;
            margin-bottom: 32px;

            input[type="number"] {
              padding-right: 20px;
              padding-top: 12px;
              font-family: $font-family;
              font-size: 16px;
              color: $color-primary;
              width: 100%;
              outline: none;
              background: none;
              border: none;
              border-bottom: $borde solid $color-light-primary;
              text-align: center;
              &:focus,
              &:active {
                outline: none;
                border-bottom: $borde solid $color-primary;
              }
            }

            label {
              color: $color-primary;
              &.label {
                position: absolute;
                top: 0px;
                left: 0;
                line-height: 16px;
                margin-left: 16px;
                transition: all 0.3s ease;
              }
              &.active {
                top: -16px;
                font-size: 12px;
                line-height: 12px;
              }
            }
          }
        }
      }

      .form__register {
        width: 100%;
        margin: auto;

        .form__input {
          .form__input-semanas,
          .form__input-afore {
            display: flex;
            align-items: center;
            justify-content: space-around;

            #scotizadas,
            #sdescontadas,
            #monto {
              text-align: center;
            }

            #monto,
            #sdescontadas {
              margin-left: 2px;
            }
          }

          .form___input-porcent {
            display: flex;
            justify-content: center;
          }

          p {
            color: $color-primary;
            margin-left: 16px;
          }

          .form__input-item {
            position: relative;
            margin-bottom: 32px;

            #honorarios {
              text-align: center;
            }

            select {
              margin-top: 3px;
            }

            select,
            input[type="text"],
            [type="tel"],
            [type="password"] {
              padding-right: 20px;
              font-family: $font-family;
              font-size: 16px;
              color: $color-primary;
              width: 100%;
              outline: none;
              background: none;
              border: none;
              border-bottom: $borde solid $color-light-primary;
              &:focus,
              &:active {
                outline: none;
                border-bottom: $borde solid $color-primary;
              }
              &.error {
                outline: none;
                border-bottom: $borde solid $color-red;
                + label {
                  color: $color-red;
                }
              }
            }

            i {
              font-size: 0.8em;
            }

            label {
              color: $color-primary;
              &.label {
                position: absolute;
                top: 0px;
                left: 0;
                // font-size: 16px;
                line-height: 16px;
                margin-left: 16px;
                transition: all 0.3s ease;
              }
              &.active {
                top: -16px;
                font-size: 12px;
                line-height: 12px;
                // color: $color-divider;
              }
            }

            &.radio label {
              display: inline-block;
              cursor: pointer;
              color: $color-primary;
              position: relative;
              padding: 5px 15px 5px 51px;
              font-size: 1em;
              border-radius: 3px;
              transition: all 0.3s ease;
              &:hover {
                background: rgba($color-primary, 1);
                color: white;
              }
              &:before {
                content: "";
                display: inline-block;
                width: 17px;
                height: 17px;
                position: absolute;
                left: 25px;
                top: 7px;
                border-radius: 50%;
                background: none;
                border: $borde solid $color-primary;
              }
            }

            &.error {
              label {
                color: $color-red;
                &:hover {
                  background: rgba($color-red, 2);
                }
                &:before {
                  border: $borde solid $color-red;
                }
              }
            }

            &.radio {
              input[type="radio"] {
                display: none;
                &:checked + label:before {
                  display: none;
                }
                &:checked + label {
                  padding: 5px 15px;
                  background: $color-primary;
                  border-radius: $borde;
                  color: white;
                }
              }
            }
          }
        }
      }
    }

    /*Estilos buscador*/

    .search {
      width: 80%;

      form {
        display: flex;
        align-items: baseline;
      }

      input {
        margin: 1%;
      }
    }

    /*Estilos index*/
    .index {
      background: rgba(255, 255, 255, 0.8);
      border: 2px solid #ffffff;
      border-radius: 20px;
      margin: 2px;
      padding: 25px;
      width: 90%;
      max-width: 450px;
      min-height: 300px;
      font-size: 10px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      color: $color-primary;
      h1 {
        text-align: center;
        margin-bottom: 20%;
        font-size: 24px;
      }
      table {
        text-align: center;
        width: 100%;
        // border: $borde solid red;
        th,
        td {
          width: 10%;
        }
      }
    }
  }
}

/*Footer*/

.footer {
  background-color: rgba(35, 39, 59, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15%;
  min-height: 30px;
  width: 100%;
  font-size: 12px;
  margin-top: 0.5em;

  a {
    color: $color-white;
    cursor: pointer;
    text-align: center;
    padding-left: 30px;

    :hover {
      text-decoration: underline;
    }
  }
}

/*Responsive design*/

@media (max-width: 530px) {
  .navbar-brand {
    width: 70%;
  }
}

@media (max-width: 402px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 340px) {
  .navbar {
    justify-content: flex-end;
  }

  .navbar-brand {
    width: 100%;
  }
}
