<footer class="footer">

  {{!-- <a href="/">web development 2020</a> --}}
  <a href="/">Gestoría Peninsular © 2021 - All rights reserved.</a>
  <a href="/">Designed with ❤️ by @_deiviiss</a>
</footer>