<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/img/logo2.png" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

        {{# if user}}

        <li class="nav-item active">
          <a class="nav-link" href="/links">Clientes<span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Inicio</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="/links/add" class="dropdown-item">Registro Cliente</a>
            <a href="/links/consult" class="dropdown-item">Consulta</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Perfil</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="/profile" class="dropdown-item">Ver perfil</a>
            <a href="/logout" class="dropdown-item">Cerrar sesión</a>
          </div>
        </li>

        {{else}}

        <li class="nav-item active">
          <a class="nav-link" href="/login">Iniciar sesión<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/register">Registrarse<span class="sr-only">(current)</span></a>
        </li>

        {{/if}}

      </ul>
    </div>
  </div>
</nav>