<header class="header">

  <!-- Aquí inicia el navbar -->

  <div class="header__nav">

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f2f2f2;">

      <a class="navbar-brand" href="/">
        <img src="/img/logo2.png" alt="Logo GP" loading="lazy" style="width: 100%; height:100%">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="fas fa-home mr-1"></i>Inicio <span class="sr-only">(current)</span>
            </a>
          </li>
          {{# if user}}

          <li class="nav-item active">
            <a class="nav-link" href="/links">
              <i class="fas fa-search mr-1"></i>Clientes
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/calcular">
              <i class="fas fa-calculator mr-1"></i>Calculadora
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-alt mr-1"></i>Perfil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Ver perfil</a>
              <a class="dropdown-item" href="/logout">Cerrar sesión</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>

          {{else}}
          <li class="nav-item active">
            <a class="nav-link" href="/calcular">
              <i class="fas fa-calculator mr-1"></i>Calculadora
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-hands-helping mr-1"></i>Recursos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"
                href="https://serviciosdigitales.imss.gob.mx/semanascotizadas-web/usuarios/IngresoAsegurado">Semanas
                Cotizadas</a>
              <a class="dropdown-item" href="https://www.gob.mx/curp/">CURP</a>
              <a class="dropdown-item"
                href="https://app.cfe.mx/Aplicaciones/CCFE/SolicitudesCFE/Solicitudes/ConsultaTuReciboLuzGmx.aspx">CFE</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>

        </ul>
      </div>

      {{/if}}

    </nav>
  </div>

  <!-- Aquí termina el navbar -->

  <hr>
</header>