<header class="header">

  <div class="header__logo">
    <a href="/"><img src="/img/logo2.png" alt=""></a>


    <div class="header__logo--btnDesktop">
      <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="header__logo--btnMobile">
      <i class="fas fa-bars fa-2x"></i>
    </div>

  </div>

  <div class="header__nav">

    <nav class="nav">

      {{# if user}}
      <div class="nav__main">
        <p>Clientes</p>
        <ul class="nav__menu">

          <li class="nav__menu--item">
            <a href="/links">Buscar Cliente</a>
          </li>

          <li class="nav__menu--item">
            <a href="/links/add">Registro Cliente</a>
          </li>
        </ul>
      </div>

      <div class="nav__main">
        <p>Perfil</p>

        <ul class="nav__menu">

          <li class="nav__menu--item">
            <a href="/profile">Ver perfil</a>
          </li>

          <li class="nav__menu--item">
            <a href="/logout">Cerrar sesión</a>
          </li>
        </ul>

      </div>

      {{else}}
      <div class="nav__main">
        <a href="/register">
          <p>Register</p>
        </a>
      </div>

      <div class="nav__main">
        <a href="/login">
          <p>Login</p>
        </a>
      </div>

      {{/if}}
    </nav>
  </div>
  <hr>
</header>