<header class="header">

  <!-- Aquí inicia el navbar -->

  <div class="header__nav">

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f2f2f2;">

      <a class="navbar-brand" href="/">
        <img src="/img/logo2.png" alt="Logo GP" loading="lazy" style="height: 90%;">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="fas fa-home mr-1"></i>Inicio <span class="sr-only">(current)</span>
            </a>
          </li>
          {{# if user}}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-users mr-1"></i>Clientes
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="/customer">
                <i class="fas fa-search mr-1"></i>Busqueda
              </a>

              <a class="dropdown-item" href="/resume/">
                <i class="fas fa-chart-line mr-1"></i>Resumen
              </a>

              <a class="dropdown-item" href="/add-customer/">
                <i class="far fa-calendar-plus mr-1"></i>Agregar cliente
              </a>

              <a class="dropdown-item" href="/list-altas/">
                <i class="far fa-list-alt mr-1"></i>Altas
              </a>

              <div class="dropdown-divider"></div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-hands-helping mr-1"></i>Recursos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="/directorio"><i class="fas fa-address-book mr-1"></i>Directorio</a>

              <a class="dropdown-item" href="/404"><i class="fas fa-piggy-bank mr-1"></i>Cotización</a>

              <a class="dropdown-item"
                href="https://serviciosdigitales.imss.gob.mx/semanascotizadas-web/usuarios/IngresoAsegurado"><i
                  class="far fa-calendar-alt mr-1"></i>Semanas
                Cotizadas</a>
              <a class="dropdown-item" href="https://www.gob.mx/curp/"><i class="far fa-list-alt mr-1"></i>CURP</a>
              <a class="dropdown-item"
                href="https://app.cfe.mx/Aplicaciones/CCFE/SolicitudesCFE/Solicitudes/ConsultaTuReciboLuzGmx.aspx"><i
                  class="fab fa-medapps mr-1"></i>CFE</a>

              <div class="dropdown-divider"></div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-alt mr-1"></i>Perfil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile"><i class="fas fa-user-edit mr-1"></i>Ver perfil</a>

              <a class="dropdown-item" href="/restore-pass/{{user.id}}"> <i
                  class="fas fa-unlock-alt mr-1"></i>Restablecer
                contraseña</a>

              {{#if_equal user.puesto "Administrador"}}
              <a class="dropdown-item" href="/register"><i class="fas fa-user-plus mr-1"></i>Registrar
                Usuario</a>
              {{/if_equal}}

              <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i>Cerrar sesión</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>

          {{else}}

          {{!-- Enlaces visibles sin login --}}

        </ul>
      </div>

      {{/if}}

    </nav>
  </div>

  <!-- Aquí termina el navbar -->

  <hr>
</header>