<div class="container-form">

  <h2 class="form__title">Datos del Cliente</h2>

  <div class="wrap">

    <form action="/links/add" method="get" class="form__register" name="formulario_cliente">

      <div class="form__input">

        <div class="form__input-item">
          <input type="text" id="cliente" name="cliente">
          <label for="cliente" class='label'>Nombre del cliente</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="curp" name="curp">
          <label for="curp" class='label'>Curp</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="nss" name="nss">
          <label for="nss" class='label'>NSS</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="afore" name="afore">
          <label for="afore" class='label'>Afore</label>
        </div>

        <div class="form__input-item radio">
          <p>Servicios Operativos</p>
          <input type="radio" id="service20" name="service" value="service20">
          <label for="service20">20%</label>
          <input type="radio" id="service25" name="service" value="service25">
          <label for="service25">25%</label>
          <input type="radio" id="service30" name="service" value="service30">
          <label for="service30">30%</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="monto" name="monto">
          <label for="monto" class='label'>Monto a retirar</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="scotizadas" name="scotizadas">
          <label for="scotizadas" class='label'>Semanas Cotizadas</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="sdescontadas" name="sdescontadas">
          <label for="sdescontadas" class='label'>Semanas Descontadas</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="direccion" name="direccion">
          <label for="direccion" class='label'>Dirección</label>
        </div>

        <div class="form__input-item">
          <input type="tel" pattern='([0-9]{10})' id="telefono" name="tel">
          <label for="tel" class='label'>Teléfono</label>
        </div>

        <input class="btn btn-success btn-block" type="submit" name="btn-submit" id="form__btn-submit" value="Guardar">
      </div>
    </form>
  </div>
</div>