<div class="container-box">

  <div class="form">

    <h2 class="form__title">Datos del Cliente</h2>

    <form action="/links/add" method="post" class="form__register" name="formulario_cliente">

      <div class="form__input">

        <div class="form__input-item">
          <input type="text" id="cliente" name="cliente">
          <label for="cliente" class='label'>Nombre del cliente</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="curp" name="curp">
          <label for="curp" class='label'>Curp</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="nss" name="nss">
          <label for="nss" class='label'>NSS</label>
        </div>

        <div class="form__input-afore">

          <div class="form__input-item">
            <select>
              <option value=""></option>
              <option value="Banamex">Banamex</option>
              <option value="Coppel">Coppel</option>
              <option value="Profuturo">Profuturo</option>
              <option value="XXI Banorte">XXI Banorte</option>
            </select>
            {{!-- <input type="text" id="afore" name="afore" class="form__input-item--space"> --}}
            <label for="afore" class='label active'>Afore</label>
          </div>

          <div class="form__input-item">
            <input type="text" id="monto" name="monto">
            <label for="monto" class='label'>Monto a retirar</label>
          </div>
        </div>

        <p>Servicios Operativos</p>
        <div class="form___input-porcent">
          <div class="form__input-item radio">

            <input type="radio" id="service20" name="service" value="service20">
            <label for="service20">20%</label>
            <input type="radio" id="service25" name="service" value="service25">
            <label for="service25">25%</label>
            <input type="radio" id="service30" name="service" value="service30">
            <label for="service30">30%</label>
          </div>
        </div>

        <div class="form__input-item">
          <input type="text" id="honorarios" name="honorarios">
          <label for="honorarios" class='label'>Servicios administrativos</label>
        </div>

        <div class="form__input-semanas">
          <div class="form__input-item">
            <input type="text" id="scotizadas" name="scotizadas">
            <label for="scotizadas" class='label'>Semanas Cotizadas</label>
          </div>

          <div class="form__input-item">
            <input type="text" id="sdescontadas" name="sdescontadas">
            <label for="sdescontadas" class='label'>Semanas Descontadas</label>
          </div>
        </div>

        <div class="form__input-item">
          <input type="text" id="direccion" name="direccion">
          <label for="direccion" class='label'>Dirección</label>
        </div>

        <div class="form__input-item">
          <input type="tel" pattern='([0-9]{10})' id="telefono" name="tel">
          <label for="tel" class='label'>Teléfono</label>
        </div>

        <input class="btn btn-success btn-block" type="submit" name="btn-submit" id="form__btn-submit" value="Guardar">
      </div>
    </form>
  </div>
</div>

<script src="/js/clientRegister.js"></script>