<div class="container-box">

  <div class="form">

    <h2 class="form__title">Datos del Cliente</h2>

    <form action="/add-customer" method="post" class="form__add-customer" name="formulario_cliente">

      <div class="form__input">

        {{!-- name --}}
        <div class="form__input-item">
          <input type="text" id="nombre" name="nombre">
          <label for="nombre" class='label'>Nombre(s)</label>
        </div>

        <div class="form__input-item">
          <input type="text" id="apellido" name="apellido">
          <label for="apellido" class='label'>Apellido(s)</label>
        </div>

        {{!-- curp --}}
        <div class="form__input-item">
          <input type="text" id="curp" name="curp">
          <label for="curp" class='label'>Curp</label>
        </div>

        {{!-- nss --}}
        <div class="form__input-item">
          <input type="text" id="nss" name="nss">
          <label for="nss" class='label'>NSS</label>
        </div>

        {{!-- afore --}}
        <div class="form__input-afore">

          <div class="form__input-item">

            <label for="afore" class='label active'>Afore</label>

            <select name="afore">
              <option value="">---</option>
              {{#each afores}}
              <option value="{{afore}}">{{afore}}</option>
              {{/each}}
            </select>

          </div>

          {{!-- monto --}}
          <div class="form__input-item">
            <input type="number" id="monto" name="monto">
            <label for="monto" class='label'>Monto a retirar</label>
          </div>
        </div>

        {{!-- <p>Servicios Operativos</p>
        <div class="form___input-porcent">
          <div class="form__input-item radio">

            <input type="radio" id="service20" name="service" value="service20">
            <label for="service20">20%</label>
            <input type="radio" id="service25" name="service" value="service25">
            <label for="service25">25%</label>
            <input type="radio" id="service30" name="service" value="service30">
            <label for="service30">30%</label>
          </div>
        </div>

        <div class="form__input-item">
          <input type="text" id="honorarios" name="honorarios">
          <label for="honorarios" class='label'>Servicios administrativos</label>
        </div> --}}

        <div class="form__input-semanas">
          <div class="form__input-item">
            <input type="text" id="scotizadas" name="scotizadas">
            <label for="scotizadas" class='label'>Semanas Cotizadas</label>
          </div>

          <div class="form__input-item">
            <input type="text" id="sdescontadas" name="sdescontadas">
            <label for="sdescontadas" class='label'>Semanas Descontadas</label>
          </div>
        </div>

        <div class="form__input-item">
          <input type="text" id="direccion" name="direccion">
          <label for="direccion" class='label'>Dirección</label>
        </div>

        <div class="form__input-item">
          <input type="tel" pattern='([0-9]{10})' id="telefono" name="telefono">
          <label for="tel" class='label'>Teléfono</label>
        </div>

        <div class="form__input-item">

          <label for="asesor" class='Label active'>Asesor</label>

          <select name="asesor">
            <option value="">---</option>
            {{#each asesoresZona}}
            <option value="{{asesor}}">{{asesor}}</option>
            {{/each}}
          </select>

        </div>

        <div class="form__input-item">

          <input class="btn btn-success btn-block" type="submit" name="btn-submit" id="form__btn-submit"
            value="Guardar">
        </div>

    </form>
  </div>
</div>

<script src="/js/clientRegister.js"></script>