{{! Formulario agregar status }}

<div class="container-box">

  <div class="container p-2">
    <div class="col-md-6 mt-2 mx-auto">

      <form
        action="/customer/status/{{customer.id}}"
        method="post"
        class="form__edit"
        name="formulario_cliente"
      >

        <div class="card border-info text-dark bg-light">

          <div class="card_title">
            <h5 class="card-header text-muted">{{customer.cliente}}</h5>
            <a onclick="window.history.back()"><i
                class="fas fa-arrow-left text-muted"
              ></i></a>
          </div>

          <div class="card-body">

            <h6 class="card-title mb-4 text-center">Selecciona el status:</h6>

            <div class="text-center mb-4">
              <div class="form__input">
                <div class="form__input-item">
                  <select required name="status" id="status">
                    <option value=""></option>
                    {{#each status}}
                      <option value="{{status}}">{{status}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>

            <h6 class="card-title m-1 text-center">Observaciones:</h6>

            <div class="text-center">
              <label for="observaciones"></label>
            </div>

            <div class="text-center">

              <textarea
                required
                class="form-control"
                name="observaciones"
                id="observaciones"
                cols="30"
                rows="2"
              ></textarea>
            </div>

            {{#if_equal folio.folio "liquidar"}}
              <h6 class="card-title m-1 text-center">Folio cierre:</h6>

              <div class="text-center">
                <label for="folio"></label>
              </div>

              <div class="text-center">

                <textarea
                  required
                  class="form-control text-center"
                  name="folio"
                  id="folio"
                  cols="10"
                  rows="1"
                ></textarea>
              </div>
            {{/if_equal}}

            <div class="buttons">

              <input
                class="btn btn-info"
                type="submit"
                name="btn-submit"
                id="form__btn-submit"
                value="Actualizar"
              />

            </div>

          </div>

        </div>
      </form>
    </div>
  </div>

</div>