{{! Formulario agregar status }}

<div class="container-box">

  <div class="container p-2">
    <div class="col-md-6 mt-2 mx-auto">

      <form
        action="/liquidaciones/liquidar/{{customer.id}}"
        method="post"
        class="form__edit"
        name="formulario_cliente"
      >

        <div class="card border-info text-dark bg-light">

          <div class="card_title">
            <h5 class="card-header text-muted">{{customer.cliente}}</h5>
          </div>

          <div class="card-body">

            <h6 class="card-title mb-4 text-center">Selecciona el tipo de
              liquidación</h6>

            <div class="text-center mb-4">
              <div class="form__input">
                <div class="form__input-item">
                  <select required name="tipo">
                    <option value=""></option>
                    <option value="local">Local</option>
                    <option value="socio">Socio</option>
                    <option value="foraneo">Foráneo</option>
                    <option value="especial">Especial</option>
                  </select>
                </div>
              </div>
            </div>

            <h6 class="card-title mb-4 text-center">Ingresa abono:</h6>

            <div class="text-center mb-4">
              <div class="form__input">
                <div class="form__input-item">
                  <input class="form-control" type="number" name="abono" />
                </div>
              </div>
            </div>

            <div class="buttons">

              <input
                class="btn btn-info"
                type="submit"
                name="btn-submit"
                id="form__btn-submit"
                value="Liquidar"
              />

            </div>

          </div>

        </div>
      </form>
    </div>
  </div>

</div>